.markdown p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

.markdown h1:first-child,
.markdown h2:first-child,
.markdown h3:first-child,
.markdown h4:first-child,
.markdown h5:first-child,
.markdown h6:first-child {
  margin-top: 0;
}

.markdown ul,
.markdown ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.25em;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ul li {
  padding-left: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown ul li::marker {
  color: currentColor;
  font-size: 1.1em;
}

.markdown ol li {
  padding-left: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown ol li::marker {
  color: currentColor;
  font-weight: 500;
}

.markdown blockquote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown pre {
  margin: 0.5em 0 !important;
  position: relative;
  padding: 0 !important;
  background-color: transparent !important;
  overflow-x: auto;
}

.markdown pre code {
  display: block;
  width: 100%;
  box-sizing: border-box;
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
  background: transparent !important;
}

.markdown table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}

/* Fix Prism markdown table tokens that incorrectly use display: table */
:global(span.token.table),
:global(span.token.table-header-row),
:global(span.token.table-line),
:global(span.token.table-data-rows) {
  display: inline !important;
}

.codeBlock {
  position: relative;
  margin: 0.5em 0;
  border-radius: 0.75rem;
}

.codeBlock code {
  display: block;
  width: 100%;
  box-sizing: border-box;
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
  background: transparent !important;
}
